Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  google-*,
  -google-explicit-constructor,
  -google-readability-casting,
  -google-readability-function-size,
  -google-runtime-references,
  llvm-namespace-comment,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  performance-*,
  -performance-avoid-endl,
  readability-*,
  -readability-avoid-nested-conditional-operator,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-emplace
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: file
CheckOptions:
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
    value: "0.5;1.0;2.0;3.0;4.0;100.0;"
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: "0.5;1.0;2.0;3.0;4.0;100.0;"
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: "1;2;3;4;"
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: "1;2;3;4;"
  - key: llvm-namespace-comment.ShortNamespaceLines
    value: "1"
  - key: llvm-namespace-comment.SpacesBeforeComments
    value: "2"
  - key: misc-move-constructor-init.IncludeStyle
    value: google
  - key: modernize-loop-convert.NamingStyle
    value: lower_case
  - key: modernize-pass-by-value.IncludeStyle
    value: google
  - key: modernize-replace-auto-ptr.IncludeStyle
    value: google
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: "1"
  - key: performance-type-promotion-in-math-fn.IncludeStyle
    value: google
  - key: performance-unnecessary-value-param.IncludeStyle
    value: google
  - key: readability-braces-around-statements.ShortStatementLines
    value: "1"
